<%= form_with(model: minor, local: true) do |form| %>
  <% if minor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(minor.errors.count, "error") %> prohibited this minor from being saved:</h2>

      <ul>
        <% minor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :faculty %>
    <%= form.text_field :faculty %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :page_url %>
    <%= form.text_field :page_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
